In [1]:
import pandas as pd
import numpy as np

In [12]:
# path to the file
file_path = "../data/raw/GdpByInd/GrossOutput.xlsx"

In [14]:
# load the required sheet
df = pd.read_excel(file_path, sheet_name='TGO105-A', skiprows=7)
df.head()

,Line,Unnamed: 1,Unnamed: 2,1997,1998,1999,2000,2001,2002,2003,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,1,All industries,NaN,15393618.0,16217046.0,17273381.0,18625677.0,18884492.0,19173776.0,20140677.0,...,31795748.0,32233943.0,32898138.0,34468130.0,36504514.0,37657950.0,36710119.0,41809341.0,46633464.0,48386809.0
1,2,Private industries,NaN,13727879.0,14486721.0,15438668.0,16674625.0,16804140.0,16957801.0,17797745.0,...,28298636.0,28662683.0,29246210.0,30720543.0,32562568.0,33529504.0,32444091.0,37230873.0,41731995.0,43289366.0
2,3,"Agriculture, forestry, fishing, and hunting",NaN,257880.0,249768.0,245313.0,243592.0,251350.0,241874.0,269298.0,...,498582.0,457896.0,430915.0,448911.0,448126.0,439049.0,443282.0,534362.0,639722.0,621687.0
3,4,Farms,NaN,219380.0,207822.0,199949.0,204313.0,212334.0,202363.0,227873.0,...,442202.0,403163.0,379793.0,395529.0,395074.0,388056.0,389475.0,472905.0,574223.0,555343.0
4,5,"Forestry, fishing, and related activities",NaN,38500.0,41946.0,45364.0,39279.0,39016.0,39510.0,41425.0,...,56379.0,54733.0,51122.0,53382.0,53053.0,50994.0,53806.0,61457.0,65499.0,66345.0

In [15]:
# drop the 'Line' Column
df.drop(columns=df.columns[0], inplace=True)

In [16]:
# Drop the empty column - now second column after 'Industry'
df.drop(columns=df.columns[1], inplace=True)

In [18]:
df.head()

,Unnamed: 1,1997,1998,1999,2000,2001,2002,2003,2004,2005,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,All industries,15393618.0,16217046.0,17273381.0,18625677.0,18884492.0,19173776.0,20140677.0,21689128.0,23517863.0,...,31795748.0,32233943.0,32898138.0,34468130.0,36504514.0,37657950.0,36710119.0,41809341.0,46633464.0,48386809.0
1,Private industries,13727879.0,14486721.0,15438668.0,16674625.0,16804140.0,16957801.0,17797745.0,19209634.0,20893924.0,...,28298636.0,28662683.0,29246210.0,30720543.0,32562568.0,33529504.0,32444091.0,37230873.0,41731995.0,43289366.0
2,"Agriculture, forestry, fishing, and hunting",257880.0,249768.0,245313.0,243592.0,251350.0,241874.0,269298.0,308552.0,300188.0,...,498582.0,457896.0,430915.0,448911.0,448126.0,439049.0,443282.0,534362.0,639722.0,621687.0
3,Farms,219380.0,207822.0,199949.0,204313.0,212334.0,202363.0,227873.0,263177.0,253551.0,...,442202.0,403163.0,379793.0,395529.0,395074.0,388056.0,389475.0,472905.0,574223.0,555343.0
4,"Forestry, fishing, and related activities",38500.0,41946.0,45364.0,39279.0,39016.0,39510.0,41425.0,45375.0,46637.0,...,56379.0,54733.0,51122.0,53382.0,53053.0,50994.0,53806.0,61457.0,65499.0,66345.0

In [19]:
# rename first column to 'Industry'
df.rename(columns={df.columns[0]: "Industry"}, inplace=True)